In [1]:
# Importing the libraries

In [2]:
# importing libraries

import pandas as pd
import numpy as np
import matplotlib as plt 
from sklearn.preprocessing import LabelEncoder
import pickle

In [3]:
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='br_pR-ZQLsD9VW7QuIEQp-LlNOrLGP31CXwI6vq6HBpu',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us.cloud-object-storage.appdomain.cloud')

bucket = 'carresalevalueprediction-donotdelete-pr-vvbtnese58owrb'
object_key = 'Car Resale Value.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

data = pd.read_csv(body)
data.head()

,Unnamed: 0,price,yearOfRegistration,monthOfRegistration,powerPS,kilometer,gearbox,notRepairedDamage,model,brand,fuelType,vehicleType
0,0,480,1993,0,0,150000,manual,not-declared,golf,volkswagen,petrol,not-declared
1,1,18300,2011,5,190,125000,manual,Yes,not-declared,audi,diesel,coupe
2,2,9800,2004,8,163,125000,automatic,not-declared,grand,jeep,diesel,suv
3,3,1500,2001,6,75,150000,manual,No,golf,volkswagen,petrol,small car
4,4,3600,2008,7,69,90000,manual,No,fabia,skoda,diesel,small car

In [4]:
labels = ['gearbox', 'notRepairedDamage','model','brand','fuelType','vehicleType']

mapper = {}
for i in labels:
  mapper[i] = LabelEncoder()
  mapper[i].fit(data[i])
  tr = mapper[i].transform(data[i])
  np.save(str('classes'+i+'.npy'), mapper[i].classes_)
  print(i,":",mapper[i])
  data.loc[:,i+"_labels"] = pd.Series(tr, index = data.index)

labeled = data[['price','yearOfRegistration','powerPS','kilometer','monthOfRegistration'] + [x+"_labels" for x in labels]]

print(labeled.columns)

gearbox : LabelEncoder()
notRepairedDamage : LabelEncoder()
model : LabelEncoder()
brand : LabelEncoder()
fuelType : LabelEncoder()
vehicleType : LabelEncoder()
Index(['price', 'yearOfRegistration', 'powerPS', 'kilometer',
       'monthOfRegistration', 'gearbox_labels', 'notRepairedDamage_labels',
       'model_labels', 'brand_labels', 'fuelType_labels',
       'vehicleType_labels'],
      dtype='object')

In [5]:
# Splitting Data Into Independent And Dependent Variables

In [6]:
Y = labeled.iloc[:,0:1]
X = labeled.iloc[:,1:11]

In [7]:
X

,yearOfRegistration,powerPS,kilometer,monthOfRegistration,gearbox_labels,notRepairedDamage_labels,model_labels,brand_labels,fuelType_labels,vehicleType_labels
0,1993,0,150000,0,1,2,118,38,7,5
1,2011,190,125000,5,1,1,163,1,1,3
2,2004,163,125000,8,0,2,119,14,1,8
3,2001,75,150000,6,1,0,118,38,7,7
4,2008,69,90000,7,1,0,103,31,1,7
...,...,...,...,...,...,...,...,...,...,...
317374,2005,0,20000,1,2,2,163,33,5,5
317375,2000,101,125000,3,0,0,108,32,7,2
317376,1996,102,150000,3,1,0,226,38,1,0
317377,2002,100,150000,6,1,2,118,38,1,1
317378,2013,320,50000,8,1,0,148,2,7,4

In [8]:
Y

        price
0         480
1       18300
2        9800
3        1500
4        3600
...       ...
317374   2200
317375   1199
317376   9200
317377   3400
317378  28990

[317379 rows x 1 columns]

In [9]:
from sklearn.model_selection import cross_val_score, train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=3)

In [10]:
X_train,X_test,Y_train,Y_test

(        yearOfRegistration  powerPS  kilometer  monthOfRegistration  \
 119801                2009      101      40000                   10
 127219                1998      115     150000                    1
 13429                 2003      109     150000                    8
 287795                1999       75     150000                    6
 258304                2001      140     150000                   12
 ...                    ...      ...        ...                  ...
 11261                 2009      116      90000                    3
 48056                 2005      109     150000                    5
 77049                 2005      209     150000                    6
 198296                2007      143     150000                    8
 71530                 1999      136     150000                    3

         gearbox_labels  notRepairedDamage_labels  model_labels  brand_labels  \
 119801               1                         0           247            36
 127219               0                         1           156            10
 13429                1                         0            28             1
 287795               1                         2           118            38
 258304               1                         0           234            39
 ...                ...                       ...           ...           ...
 11261                1                         0           124            24
 48056                1                         0            10            25
 77049                0                         0           246            39
 198296               1                         0             6             2
 71530                1                         0            11             2

         fuelType_labels  vehicleType_labels
 119801                7                   4
 127219                5                   1
 13429                 7                   7
 287795                7                   4
 258304                7                   1
 ...                 ...                 ...
 11261                 7                   1
 48056                 1                   4
 77049                 7                   8
 198296                7                   4
 71530                 7                   4

 [222165 rows x 10 columns],
         yearOfRegistration  powerPS  kilometer  monthOfRegistration  \
 308948                2006      140     100000                   10
 259348                2001      179     150000                    5
 304880                1999      211     150000                    7
 181015                2001      354     150000                    6
 202570                2002      104     150000                    3
 ...                    ...      ...        ...                  ...
 695                   2012      114      40000                    8
 241345                2007      200     150000                    0
 3353                  2003      113     150000                    0
 84377                 1998      140     150000                    1
 140318                1994       75     150000                    9

         gearbox_labels  notRepairedDamage_labels  model_labels  brand_labels  \
 308948               1                         0            43            24
 259348               0                         0            31             1
 304880               1                         0           167            24
 181015               0                         0           210            20
 202570               1                         2             8            25
 ...                ...                       ...           ...           ...
 695                  1                         0           226            38
 241345               0                         1           118            38
 3353                 1                         2           151            27
 84377                1                         0            40            39
 140318               1                         0           118            38

         fuelType_labels  vehicleType_labels
 308948                7                   4
 259348                1                   1
 304880                7                   1
 181015                7                   2
 202570                7                   2
 ...                 ...                 ...
 695                   1                   0
 241345                7                   4
 3353                  4                   7
 84377                 7                   4
 140318                7                   2

 [95214 rows x 10 columns],
         price
 119801   7499
 127219    450
 13429    2990
 287795   1250
 258304   1500
 ...       ...
 11261    9390
 48056    2900
 77049   10500
 198296   6995
 71530    1899

 [222165 rows x 1 columns],
         price
 308948   5990
 259348   2999
 304880    899
 181015  15490
 202570   1390
 ...       ...
 695     28300
 241345   7600
 3353     2700
 84377     850
 140318   1000

 [95214 rows x 1 columns])

In [11]:
X_train

,yearOfRegistration,powerPS,kilometer,monthOfRegistration,gearbox_labels,notRepairedDamage_labels,model_labels,brand_labels,fuelType_labels,vehicleType_labels
119801,2009,101,40000,10,1,0,247,36,7,4
127219,1998,115,150000,1,0,1,156,10,5,1
13429,2003,109,150000,8,1,0,28,1,7,7
287795,1999,75,150000,6,1,2,118,38,7,4
258304,2001,140,150000,12,1,0,234,39,7,1
...,...,...,...,...,...,...,...,...,...,...
11261,2009,116,90000,3,1,0,124,24,7,1
48056,2005,109,150000,5,1,0,10,25,1,4
77049,2005,209,150000,6,0,0,246,39,7,8
198296,2007,143,150000,8,1,0,6,2,7,4
71530,1999,136,150000,3,1,0,11,2,7,4

In [12]:
Y_train

        price
119801   7499
127219    450
13429    2990
287795   1250
258304   1500
...       ...
11261    9390
48056    2900
77049   10500
198296   6995
71530    1899

[222165 rows x 1 columns]

In [13]:
X_test

,yearOfRegistration,powerPS,kilometer,monthOfRegistration,gearbox_labels,notRepairedDamage_labels,model_labels,brand_labels,fuelType_labels,vehicleType_labels
308948,2006,140,100000,10,1,0,43,24,7,4
259348,2001,179,150000,5,0,0,31,1,1,1
304880,1999,211,150000,7,1,0,167,24,7,1
181015,2001,354,150000,6,0,0,210,20,7,2
202570,2002,104,150000,3,1,2,8,25,7,2
...,...,...,...,...,...,...,...,...,...,...
695,2012,114,40000,8,1,0,226,38,1,0
241345,2007,200,150000,0,0,1,118,38,7,4
3353,2003,113,150000,0,1,2,151,27,4,7
84377,1998,140,150000,1,1,0,40,39,7,4
140318,1994,75,150000,9,1,0,118,38,7,2

In [14]:
Y_test

        price
308948   5990
259348   2999
304880    899
181015  15490
202570   1390
...       ...
695     28300
241345   7600
3353     2700
84377     850
140318   1000

[95214 rows x 1 columns]

In [15]:
# Building the model

In [16]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train,Y_train)

/tmp/wsuser/ipykernel_424/3128809939.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,Y_train)

RandomForestRegressor()

In [17]:
model.score(X_test,Y_test)

0.8467800712920941

In [18]:
y_predict=model.predict(X_test)

In [19]:
from sklearn.metrics import r2_score
print(r2_score(Y_test, y_predict))

0.8467800712920941

In [20]:
from sklearn.metrics import mean_absolute_error

print(mean_absolute_error(Y_test, y_predict))

1353.4227172762712

In [21]:
from sklearn.metrics import mean_squared_error

print(mean_squared_error(Y_test, y_predict))

10023883.499039875

In [22]:
from sklearn.metrics import mean_squared_error

root_mean_squared_error = mean_squared_error(Y_test, y_predict, squared=False)
print(root_mean_squared_error)

3166.0517208409397

In [23]:
from sklearn.metrics import r2_score

print(r2_score(Y_test, y_predict))

0.8467800712920941

In [24]:
# SAVING THE MODEL.

In [25]:
import pickle

In [26]:
pickle.dump(model, open("car.pkl", "wb"))

In [27]:
X_train

,yearOfRegistration,powerPS,kilometer,monthOfRegistration,gearbox_labels,notRepairedDamage_labels,model_labels,brand_labels,fuelType_labels,vehicleType_labels
119801,2009,101,40000,10,1,0,247,36,7,4
127219,1998,115,150000,1,0,1,156,10,5,1
13429,2003,109,150000,8,1,0,28,1,7,7
287795,1999,75,150000,6,1,2,118,38,7,4
258304,2001,140,150000,12,1,0,234,39,7,1
...,...,...,...,...,...,...,...,...,...,...
11261,2009,116,90000,3,1,0,124,24,7,1
48056,2005,109,150000,5,1,0,10,25,1,4
77049,2005,209,150000,6,0,0,246,39,7,8
198296,2007,143,150000,8,1,0,6,2,7,4
71530,1999,136,150000,3,1,0,11,2,7,4

In [28]:
Y_train

        price
119801   7499
127219    450
13429    2990
287795   1250
258304   1500
...       ...
11261    9390
48056    2900
77049   10500
198296   6995
71530    1899

[222165 rows x 1 columns]

In [29]:
# HOSTING THE MODEL.

In [30]:
import pickle

In [31]:
pickle.dump(model, open("car.pkl", "wb"))

In [32]:
!pip install -U ibm-watson-machine-learning

Requirement already satisfied: ibm-watson-machine-learning in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (1.0.257)
Requirement already satisfied: tabulate in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (0.8.9)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (2.26.0)
Requirement already satisfied: urllib3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (1.26.7)
Requirement already satisfied: pandas<1.5.0,>=0.24.2 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (1.3.4)
Requirement already satisfied: ibm-cos-sdk==2.11.* in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (2.11.0)
Requirement already satisfied: packaging in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (21.3)
Requirement already satisfied: lomond in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (0.3.3)
Requirement already satisfied: importlib-metadata in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (4.8.2)
Requirement already satisfied: certifi in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (2022.9.24)
Requirement already satisfied: ibm-cos-sdk-s3transfer==2.11.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-cos-sdk==2.11.*->ibm-watson-machine-learning) (2.11.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-cos-sdk==2.11.*->ibm-watson-machine-learning) (0.10.0)
Requirement already satisfied: ibm-cos-sdk-core==2.11.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-cos-sdk==2.11.*->ibm-watson-machine-learning) (2.11.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-cos-sdk-core==2.11.0->ibm-cos-sdk==2.11.*->ibm-watson-machine-learning) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pandas<1.5.0,>=0.24.2->ibm-watson-machine-learning) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pandas<1.5.0,>=0.24.2->ibm-watson-machine-learning) (1.20.3)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.1->ibm-cos-sdk-core==2.11.0->ibm-cos-sdk==2.11.*->ibm-watson-machine-learning) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from requests->ibm-watson-machine-learning) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from requests->ibm-watson-machine-learning) (3.3)
Requirement already satisfied: zipp>=0.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from importlib-metadata->ibm-watson-machine-learning) (3.6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from packaging->ibm-watson-machine-learning) (3.0.4)

In [33]:
from ibm_watson_machine_learning import APIClient
import json

In [34]:
# Authenticate and set space.

In [35]:
wml_credentials = {
    "apikey":"qxfbFLITIJs7zvC2zCQmXDBJbJUFCg7XcOjzi8c_VOoA",
    "url":"https://us-south.ml.cloud.ibm.com"
}

In [36]:
wml_client = APIClient(wml_credentials)

In [37]:
wml_client.spaces.list()

Note: 'limit' is not provided. Only first 50 records will be displayed if the number of records exceed 50
------------------------------------  ----------  ------------------------
ID                                    NAME        CREATED
a749eea7-cd96-45c1-bc5b-9a22b33128fe  Deployment  2022-11-23T04:47:37.716Z
------------------------------------  ----------  ------------------------

In [38]:
SPACE_ID="a749eea7-cd96-45c1-bc5b-9a22b33128fe"

In [39]:
wml_client.set.default_space(SPACE_ID)

'SUCCESS'

In [40]:
wml_client.software_specifications.list()

-----------------------------  ------------------------------------  ----
NAME                           ASSET_ID                              TYPE
default_py3.6                  0062b8c9-8b7d-44a0-a9b9-46c416adcbd9  base
kernel-spark3.2-scala2.12      020d69ce-7ac1-5e68-ac1a-31189867356a  base
pytorch-onnx_1.3-py3.7-edt     069ea134-3346-5748-b513-49120e15d288  base
scikit-learn_0.20-py3.6        09c5a1d0-9c1e-4473-a344-eb7b665ff687  base
spark-mllib_3.0-scala_2.12     09f4cff0-90a7-5899-b9ed-1ef348aebdee  base
pytorch-onnx_rt22.1-py3.9      0b848dd4-e681-5599-be41-b5f6fccc6471  base
ai-function_0.1-py3.6          0cdb0f1e-5376-4f4d-92dd-da3b69aa9bda  base
shiny-r3.6                     0e6e79df-875e-4f24-8ae9-62dcc2148306  base
tensorflow_2.4-py3.7-horovod   1092590a-307d-563d-9b62-4eb7d64b3f22  base
pytorch_1.1-py3.6              10ac12d6-6b30-4ccd-8392-3e922c096a92  base
tensorflow_1.15-py3.6-ddl      111e41b3-de2d-5422-a4d6-bf776828c4b7  base
autoai-kb_rt22.2-py3.10        125b6d9a-5b1f-5e8d-972a-b251688ccf40  base
runtime-22.1-py3.9             12b83a17-24d8-5082-900f-0ab31fbfd3cb  base
scikit-learn_0.22-py3.6        154010fa-5b3b-4ac1-82af-4d5ee5abbc85  base
default_r3.6                   1b70aec3-ab34-4b87-8aa0-a4a3c8296a36  base
pytorch-onnx_1.3-py3.6         1bc6029a-cc97-56da-b8e0-39c3880dbbe7  base
kernel-spark3.3-r3.6           1c9e5454-f216-59dd-a20e-474a5cdf5988  base
pytorch-onnx_rt22.1-py3.9-edt  1d362186-7ad5-5b59-8b6c-9d0880bde37f  base
tensorflow_2.1-py3.6           1eb25b84-d6ed-5dde-b6a5-3fbdf1665666  base
spark-mllib_3.2                20047f72-0a98-58c7-9ff5-a77b012eb8f5  base
tensorflow_2.4-py3.8-horovod   217c16f6-178f-56bf-824a-b19f20564c49  base
runtime-22.1-py3.9-cuda        26215f05-08c3-5a41-a1b0-da66306ce658  base
do_py3.8                       295addb5-9ef9-547e-9bf4-92ae3563e720  base
autoai-ts_3.8-py3.8            2aa0c932-798f-5ae9-abd6-15e0c2402fb5  base
tensorflow_1.15-py3.6          2b73a275-7cbf-420b-a912-eae7f436e0bc  base
kernel-spark3.3-py3.9          2b7961e2-e3b1-5a8c-a491-482c8368839a  base
pytorch_1.2-py3.6              2c8ef57d-2687-4b7d-acce-01f94976dac1  base
spark-mllib_2.3                2e51f700-bca0-4b0d-88dc-5c6791338875  base
pytorch-onnx_1.1-py3.6-edt     32983cea-3f32-4400-8965-dde874a8d67e  base
spark-mllib_3.0-py37           36507ebe-8770-55ba-ab2a-eafe787600e9  base
spark-mllib_2.4                390d21f8-e58b-4fac-9c55-d7ceda621326  base
autoai-ts_rt22.2-py3.10        396b2e83-0953-5b86-9a55-7ce1628a406f  base
xgboost_0.82-py3.6             39e31acd-5f30-41dc-ae44-60233c80306e  base
pytorch-onnx_1.2-py3.6-edt     40589d0e-7019-4e28-8daa-fb03b6f4fe12  base
pytorch-onnx_rt22.2-py3.10     40e73f55-783a-5535-b3fa-0c8b94291431  base
default_r36py38                41c247d3-45f8-5a71-b065-8580229facf0  base
autoai-ts_rt22.1-py3.9         4269d26e-07ba-5d40-8f66-2d495b0c71f7  base
autoai-obm_3.0                 42b92e18-d9ab-567f-988a-4240ba1ed5f7  base
pmml-3.0_4.3                   493bcb95-16f1-5bc5-bee8-81b8af80e9c7  base
spark-mllib_2.4-r_3.6          49403dff-92e9-4c87-a3d7-a42d0021c095  base
xgboost_0.90-py3.6             4ff8d6c2-1343-4c18-85e1-689c965304d3  base
pytorch-onnx_1.1-py3.6         50f95b2a-bc16-43bb-bc94-b0bed208c60b  base
autoai-ts_3.9-py3.8            52c57136-80fa-572e-8728-a5e7cbb42cde  base
spark-mllib_2.4-scala_2.11     55a70f99-7320-4be5-9fb9-9edb5a443af5  base
spark-mllib_3.0                5c1b0ca2-4977-5c2e-9439-ffd44ea8ffe9  base
autoai-obm_2.0                 5c2e37fa-80b8-5e77-840f-d912469614ee  base
spss-modeler_18.1              5c3cad7e-507f-4b2a-a9a3-ab53a21dee8b  base
cuda-py3.8                     5d3232bf-c86b-5df4-a2cd-7bb870a1cd4e  base
runtime-22.2-py3.10-xc         5e8cddff-db4a-5a6a-b8aa-2d4af9864dab  base
autoai-kb_3.1-py3.7            632d4b22-10aa-5180-88f0-f52dfb6444d7  base
-----------------------------  ------------------------------------  ----
Note: Only first 50 records were displayed. To display more use 'limit' parameter.

In [41]:
# Save and Deploy the model

In [42]:
import sklearn
sklearn.__version__

'1.0.2'

In [43]:
MODEL_NAME = 'Random Forest Regressor'
DEPLOYMENT_NAME = 'Car Resale Value Prediction'
DEMO_MODEL = model

In [44]:
software_spec_uid = wml_client.software_specifications.get_id_by_name('runtime-22.1-py3.9')

In [45]:
model_props = {
    wml_client.repository.ModelMetaNames.NAME: MODEL_NAME, 
    wml_client.repository.ModelMetaNames.TYPE: 'scikit-learn_1.0', 
    wml_client.repository.ModelMetaNames.SOFTWARE_SPEC_UID: software_spec_uid 
}

In [46]:
model_details = wml_client.repository.store_model(
    model=DEMO_MODEL, 
    meta_props=model_props, 
    training_data=X_train, 
    training_target=Y_train
)

In [48]:
model_details

{'entity': {'hybrid_pipeline_software_specs': [],
  'label_column': 'price',
  'schemas': {'input': [{'fields': [{'name': 'yearOfRegistration',
       'type': 'int64'},
      {'name': 'powerPS', 'type': 'int64'},
      {'name': 'kilometer', 'type': 'int64'},
      {'name': 'monthOfRegistration', 'type': 'int64'},
      {'name': 'gearbox_labels', 'type': 'int64'},
      {'name': 'notRepairedDamage_labels', 'type': 'int64'},
      {'name': 'model_labels', 'type': 'int64'},
      {'name': 'brand_labels', 'type': 'int64'},
      {'name': 'fuelType_labels', 'type': 'int64'},
      {'name': 'vehicleType_labels', 'type': 'int64'}],
     'id': '1',
     'type': 'struct'}],
   'output': []},
  'software_spec': {'id': '12b83a17-24d8-5082-900f-0ab31fbfd3cb',
   'name': 'runtime-22.1-py3.9'},
  'type': 'scikit-learn_1.0'},
 'metadata': {'created_at': '2022-11-23T05:12:22.409Z',
  'id': 'b8d76fab-aa2d-4151-ade0-dd082a8ce9ec',
  'modified_at': '2022-11-23T05:20:33.175Z',
  'name': 'Random Forest Regressor',
  'owner': 'IBMid-6610042KPZ',
  'resource_key': 'df339670-20b4-4722-8cd9-9cf9f271c066',
  'space_id': 'a749eea7-cd96-45c1-bc5b-9a22b33128fe'},
 'system': {'warnings': []}}

In [50]:
model_id = wml_client.repository.get_model_id(model_details)

In [51]:
model_id

'b8d76fab-aa2d-4151-ade0-dd082a8ce9ec'

In [52]:
deployment_props = {
   wml_client.deployments.ConfigurationMetaNames.NAME:DEPLOYMENT_NAME, 
   wml_client.deployments.ConfigurationMetaNames.ONLINE: {}
}

In [ ]:
deployment =  wml_client.deployments.create(
    artifact_uid=model_id, 
    meta_props=deployment_props 
)

#######################################################################################

Synchronous deployment creation for uid: 'b8d76fab-aa2d-4151-ade0-dd082a8ce9ec' started

#######################################################################################


initializing
Note: online_url is deprecated and will be removed in a future release. Use serving_urls instead.
.........